mash/RefSeqSketchesDefaults.msh filter=lfs diff=lfs merge=lfs -text
test_data/SRR5481494_sub_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
test_data/SRR5481494_sub_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
test_data/trim_reads/SRR5481494_sub-noPhiX-R1.fsq.gz filter=lfs diff=lfs merge=lfs -text
test_data/trim_reads/SRR5481494_sub-noPhiX-R2.fsq.gz filter=lfs diff=lfs merge=lfs -text
test_data/trim_reads/SRR5481494_sub_R1.unpaired.fq.gz filter=lfs diff=lfs merge=lfs -text
test_data/trim_reads/SRR5481494_sub_R2.paired.fq.gz filter=lfs diff=lfs merge=lfs -text
test_data/trim_reads/SRR5481494_sub_R2.unpaired.fq.gz filter=lfs diff=lfs merge=lfs -text
test_data/trim_reads/SRR5481494_sub_R1.paired.fq.gz filter=lfs diff=lfs merge=lfs -text
