mash/RefSeqSketchesDefaults.msh filter=lfs diff=lfs merge=lfs -text
test_data/SRR5481494_2_sub.fastq.gz filter=lfs diff=lfs merge=lfs -text
test_data/SRR5481494_1_sub.fastq.gz filter=lfs diff=lfs merge=lfs -text
