mash/RefSeqSketchesDefaults.msh filter=lfs diff=lfs merge=lfs -text
test_data/SRR5481494_sub_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
test_data/SRR5481494_sub_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
